- if signed_in?
  %div{ "ng-app" => "gssApp" }
    %div{ "ui-view" => "" }
- else
  = button_to "Sign in with Github", user_omniauth_authorize_path(:github)

%br
%br
%br
%br
%br
= button_to "binding.pry", :action =>'binding_pry'
